#datetime-picker {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;
    margin-bottom: 32px;
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
button {
    color: #989898;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
}

.timer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.field{
    display: flex;
    flex-direction: column;
}
.value{
color: #2E2F42;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* 120% */
    letter-spacing: 1.6px;
}
div.timer.field.label{
color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style:normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    text-transform: capitalize;
}